<form method="post" action="{{ path('discount_type_delete', {'id': discount_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discount_type.id) }}">
    <button class="btn">Delete</button>
</form>
