{% extends 'base.html.twig' %}

{% block title %}Edit DiscountType{% endblock %}

{% block body %}
    <h1>Edit DiscountType</h1>

    {{ include('discount_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('discount_type_index') }}">back to list</a>

    {{ include('discount_type/_delete_form.html.twig') }}
{% endblock %}
