{% extends 'base.html.twig' %}

{% block title %}DiscountType index{% endblock %}

{% block body %}
    <h1>DiscountType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discount_type in discount_types %}
            <tr>
                <td>{{ discount_type.id }}</td>
                <td>{{ discount_type.name }}</td>
                <td>
                    <a href="{{ path('discount_type_show', {'id': discount_type.id}) }}">show</a>
                    <a href="{{ path('discount_type_edit', {'id': discount_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discount_type_new') }}">Create new</a>
{% endblock %}
