{% extends 'base.html.twig' %}

{% block title %}New DiscountType{% endblock %}

{% block body %}
    <h1>Create new DiscountType</h1>

    {{ include('discount_type/_form.html.twig') }}

    <a href="{{ path('discount_type_index') }}">back to list</a>
{% endblock %}
