<form method="post" action="{{ path('shopping_cart_delete', {'id': shopping_cart.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shopping_cart.id) }}">
    <button class="btn">Delete</button>
</form>
