{% extends 'base.html.twig' %}

{% block title %}Edit CustomerGroup{% endblock %}

{% block body %}
    <h1>Edit CustomerGroup</h1>

    {{ include('customer_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('customer_group_index') }}">back to list</a>

    {{ include('customer_group/_delete_form.html.twig') }}
{% endblock %}
