{% extends 'base.html.twig' %}

{% block title %}CustomerGroup{% endblock %}

{% block body %}
    <h1>CustomerGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ customer_group.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_group_index') }}">back to list</a>

    <a href="{{ path('customer_group_edit', {'id': customer_group.id}) }}">edit</a>

    {{ include('customer_group/_delete_form.html.twig') }}
{% endblock %}
